@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --black: #373737;
  --sect1: #ff9900;
  --sect2: #2196F3;
  --sect3: #e63232;
  --sect4: #8BC34A;
  --sect5: #8946ff;
}

* { 
  box-sizing: border-box; 
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease 0s;
  font-family: 'Varela Round', cursive;
}

body:after {
  content: "Progress Bar only in Chrome";
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: var(--black);
  font-size: 1rem;
  padding: 20px 0;
}

nav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 65px;
  background: linear-gradient(0deg, #fff0 0px, var(--black) 1px 100%);
  text-align: center;
  display: flex;
  transition: all 0.5s ease 0s;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 16px 10px;
  position: relative;
  z-index: 1;
  width: 100%;
  font-size: 1.6rem;
  border: 2px solid #000;
  border-top-width: 0px;
  border-bottom-width: 4px;
}

nav a:first-child {
  border-left-width: 0;
}

nav a:last-child {
  border-right-width: 0;
}

nav a:hover {
  background: linear-gradient(90deg, var(--clr) 0 50%, var(--black) 0 100%);
  background-size: 200%;
  background-position: 100% 0;
  animation: colorize 0.5s ease 0s;
  animation-fill-mode: forwards;
  transition: all 0.5s ease 0s;
}

@keyframes colorize {
  100% { background-position: 0 0; }
}

nav a:nth-child(1):hover {
  --clr: var(--sect1);
}
nav a:nth-child(2):hover {
  --clr: var(--sect2);
}
nav a:nth-child(3):hover {
  --clr: var(--sect3);
}
nav a:nth-child(4):hover {
  --clr: var(--sect4);
}
nav a:nth-child(5):hover {
  --clr: var(--sect5);
}


nav:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20vw;
  width: 20%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(90deg, var(--sect1) 0 calc(20vw - 3px), var(--sect2) 0 calc(40vw - 6px), var(--sect3) 0 calc(60vw - 10px), var(--sect4) 0 calc(80vw - 13px), var(--sect5) 0 100vw);
  animation: progress linear;
  animation-timeline: scroll(root);
}

@keyframes progress {
  100% { width: 100%; }
}



/*** SECTIONS ***/
section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: #fff;
  padding-top: 30px;
  border-bottom: 4px solid #000;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

section h2, section p {
  margin: 0;
  width: 100%;
  text-align: center;
}

section p {
  font-size: 1.25rem;
}

#css {
  background-color: var(--sect1);
}

#html {
  background-color: var(--sect2);
}

#js {
  background-color: var(--sect3);
}

#php {
  background-color: var(--sect4);
}

#sql {
  background-color: var(--sect5);
}



/*** SCROLLER ***/
.scroller {
  position: fixed;
  width: 30px;
  height: 50px;
  background: radial-gradient(ellipse at 50% 33%, #fff0 0 3px, #fff 4px 100%);
  top: calc(50vh - 15px);
  right: 20px;
  border-radius: 20px;
}

.scroller:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 50px;
  background: radial-gradient(circle at 50% 33%, #fff0 0 6px, #fff 7px 100%);
  border-radius: 20px 20px;
  left: 0;
  bottom: 0;
}

.scroller span {
  position: absolute;
  height: 30px;
  border-left: 5px dotted #fff;
  top: -50px;
  left: 13px
}

.scroller span + span {
  top: inherit;
  top: 70px;
}

.scroller span:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 4px solid #fff;
  border-color: #fff #fff #fff0 #fff0;
  border-radius: 4px;
  transform: rotate(-45deg);
  left: -11px;
  top: -13px;
}

.scroller span + span:before {
  border-color: #fff0 #fff0 #fff #fff ;
  top: 28px;
}

.scroller:after {
  content: "Scroll";
  position: absolute;
  left: -5rem;
  font-size: 1.65rem;
  bottom: 0.5rem;
  color: #fff;
  font-weight: bold;
}

@media screen and (max-width: 580px) {
  nav a { font-size: 1.25rem; line-height: 2rem; }
  .scroller:after { content: "";}
}

  .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0; top: 0;
  background-color: rgb(0,0,0); background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

  .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  }

  .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  font-size: 50px;
  }

  .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  }

  @media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

.menu-active {
  display: block !important;
  transition: 1.3s;
}
.menu {
  overflow-x: scroll;
  width: 250px;
  height: 500px;
  margin: 10px;
  position: fixed;
  background-image: url("https://images.wallpaperscraft.com/image/single/girl_anime_art_1122488_800x1280.jpg");
  background-size: 400px 640px;
  background-position: center;
  border: #000 5px solid;
  border-radius: 40px;
  display: none;
  justify-content: center;
  right: 0;
  z-index: 20;
}
.logo h1 {
  font-size: 50px;
}

.logo {
  width: 100%;
  height: 100px;
  background-image: url('/MyWebsite/edgy_kirihime_yoruka_wallpaper_hd_by_noarin00_dbtzfm0-fullview.png');
  background-position-x: center;
  background-position-y: -90px;
  color: #f1f1f1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}
.content {
  position: fixed;
  top: 10px;
  right: 0;
  margin: 17px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f1f1f1;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
}

.change .bar1 {
  transform:translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform:translate(0, -11px) rotate(45deg);
}

.text1{
  position: relative;
  background-color: #5FBDFF;
  width: 400px;
  height: 100px;
  border: 5px solid #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  transition: 0.5s;
}

.P1 p {
  margin: 10px;
}

.P1 {
  position: fixed;
  bottom: auto;
  margin: 10px;
  width: 220px;
  height:220px;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 20px;
}

.P2:hover{
  background-color: rgba(190, 190, 190, 0.9);
}
.P2 {
  position: absolute;
  bottom: 5px;
  left: 70px;
  width: 100px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
}

.h2 h2 {
  width: 150px;
  margin: 10px;
  color: #f1f1f1;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 20px;
}

.h2 h2 i {
  font-size: 20px;
  color: rgb(247, 29, 29);
  margin-left: 10px;
}

ul {
  margin: 10px;
  transition: 0.3s;
}

ul:hover {
  color: #f1f1f1;
  font-size: 35px;
  transition: 0.3s;
}
/* 
.tapbar i {
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 25px;
  font-size: 20px;
}

.tapbar-active {
  display: block !important;
}

.tapbar i:hover{
  color: #f1f1f1;
}

.tapbar {
  position: absolute;
  bottom: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  font-size: 20px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
} */

.flex {
  position: fixed;
  width: 140px;
  height: 140px;
  border: 20px solid rgb(0, 155, 207);
  border-top: 20px solid hsl(182, 100%, 66%);
  border-radius: 360px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
}

#Profile {
  display: flex;
  justify-content: center;
}

#Profile img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  width: 120px;
  height: 120px;
  border-radius: 150px;
}

#Profile span {
  position: absolute;
  bottom: -70px;
  display: block;
  width: 150px;
  text-align: center;
  font-family: 'Oswald';
  color: #fff;
  font-size: 25px;
}
/*  */


.countdown{
  --number-color: hsl(0 0% 100%);
  --text-color: hsl(0 0% 25%);
  --dot-color: hsl(0 0% 10%);
  --dot-color-remaining: hsl(182, 100%, 66%);
  --dot-color-active: hsl(0 100% 50%);
  font-family: system-ui, sans-serif;
  display: grid;
  position: absolute;
  bottom: 0; right: 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  /* width: min(60rem, 100%); */
  margin-inline: auto;
  background-color: rgba(17, 110, 231, 0.5);
  border-radius: 20px;
  container: inline-size;
  > .part {
    aspect-ratio: 1/1;
    margin: 5px;
    display: grid;
    place-items: center;
    > .remaining {
      grid-area: 1/1;
      color: hsl(0 0% 100%);
      display: grid;
      text-align: center;
      font-size: 4cqi;
      >.number {
        color: var(--number-color);
      }
      >.text {
        /* color: var(--text-color); */
        text-transform: uppercase;
        font-size: 0.5em;

      }
    }
    > .dot-container {
      grid-area: 1/1;
      height: 100%;
      width: 4%;
      rotate: calc(360deg / var(--dots) * var(--dot-idx));
      > .dot {
        width: 100%;
        aspect-ratio: 1/1;
        background-color: var(--dot-color);
        border-radius: 50%;
        transition: background-color .25s;
        &[data-active=true]{
          background-color: var(--dot-color-remaining);
          &[data-lastactive=true]{
            background-color: var(--dot-color-active);
          }
        }
      }
    }
  }
}