@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap');
/* font-family: 'Mitr', sans-serif; */

body {
  margin: 6px;
  font-family: 'mitr', sans-serif;
}
.grid{
  display: grid;
  grid-template-areas: 
    "heaber"
    "nav"
    "main"
    "right"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: 
    90px
    100px
    1fr
    50px
    50px;
  grid-gap: 6px 6px;
  height: calc(100vh - 12px);
}
.grid > * {
  display: grid;
}
.grid_header p, .grid_footer p, .grid_right p {
  margin: auto;
}

.grid_header {
  text-align: center;
  font-size: 50px;
  color: aliceblue;
  border-radius: 20px;
  background-color: blueviolet;
  grid-area: heaber;
}
/* hamburger menu */
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 40px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  }
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  border-radius: 20px;
  width: 30px;
  height: 5px;
  background-color: #000000;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'mitr', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

/* .grid_main {
    border-radius: 20px;
    background-color: blueviolet;
    grid-area: main;
} */
.grid_left {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  border-radius: 20px;
  background-color: blueviolet;
  grid-area: nav;
}
.grid_right {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  border-radius: 20px;
  background-color: blueviolet;
  grid-area: right;
}
.grid_footer {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  border-radius: 20px;
  background-color: blueviolet;
  grid-area: footer;
}

@media screen and (min-width:600px) {
  .grid {
    grid-template-areas: 
      "heaber heaber heaber"
      "nav main right"
      "footer footer footer";
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: 75px 1fr 100px;
  }
}